<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.7" android:installLocation="auto" package="com.CribMobile.CribMobile" android:versionCode="8">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="CribMobile" android:icon="@drawable/Icon"></application>
</manifest>